$color-primary: #B81e6c;
$color-secondary: rgb(214, 196, 74);
$color-light: #FFF8E9;
$color-info: #265172;
$color-dark: #113958;
$color-danger: #FABC91;
$color-warning: #FADA91;
$color-success: #6286A1;

$theme-colors: (
"primary": $color-primary,
"secondary": $color-secondary,
"light": $color-light,
"info": $color-info,
"dark": $color-dark
);

@import "~bootstrap/scss/bootstrap";

@import '~font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

html, body { height: 100%; width: 100%; margin: 0; }
div { height: 100%; text-align: center; vertical-align: middle;font-family: 'Playfair Display', serif;}


.header {
    background-color: $color-primary;
}
.main {
    background-color: $color-light;
}
.footer {
    background-color: $color-secondary;
}

#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
    display: block;
    height: fit-content;
}

.white_to_light {
    // filter: invert(56%) sepia(31%) saturate(410%) hue-rotate(170deg) brightness(99%) contrast(95%);
}

.square {
    width:100%
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
